spring:
  main:
    allow-bean-definition-overriding: true
    banner-mode: "off"

  application:
    name: sgtcc-api

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: true
        use_sql_comments: false
        format_sql: true
  datasource:
    driver-class-name: org.postgresql.Driver

  jackson:
    date-format:  yyyy-MM-dd HH:mm:ss

  flyway:
    enabled: true
    baseline-on-migrate: true

server:
  port: 8080
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
    min-response-size: 1024

logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      base-path: "/api/v1/"
      cors:
        allow-credentials: true
        allowed-methods: GET, POST, PUT, PACTH, DELETE, OPTIONS, HEAD
        allowed-origins:
          - localhost:8080
          - localhost:3000
